# library dependencies
numpy
opencv-python
git+https://github.com/MassimoCimmino/pygfunction@5465044309c1193514f64574680cd430249aef29
scipy

# dependencies for testing and example purposes only
matplotlib
pandas
openpyxl

# testing dependencies
black
coverage
flake8
nose
