# library dependencies
click
numpy
opencv-python
pygfunction
scipy

# docs dependencies
sphinx
sphinx-rtd-theme

# dependencies for testing and example purposes only
matplotlib
pandas
openpyxl

# testing dependencies
coverage
flake8
nose
