name: PyPIRelease

on:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.22"
      - name: Install the project
        run: uv sync --locked
      - name: Build
        run: uv build
      - name: Deploy on PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PIPYPW }}
          repository-url: https://upload.pypi.org/legacy/
