name: PyPIRelease

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Install poetry
        uses: abatilo/actions-poetry@v4
        with:
          poetry-version: latest
      - name: Install the project dependencies
        run: poetry install
      - name: Build the Wheel
        run: poetry build
      - name: Deploy on PyPi
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PIPYPW }}
          repository-url: https://upload.pypi.org/legacy/
