name: Python Testing

on: [push]

jobs:
  build:
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          version: "0.9.22"
      - name: Install the project
        run: uv sync --locked
      - name: Lint & Format
        run: uv run pre-commit run -a
      - name: Unit tests
        run: uv run pytest -v -n auto
